 <!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>lip_store</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive sty…
 <!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>lip_store</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="/assets/logo.png" alt="" /><span>
              lip_store
            </span>
          </a>

          <div class="navbar-collapse" id="">
            <div class="container">
              <div class=" mr-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav justify-content-between ">
                  <div class="d-none d-lg-flex">
                    <li class="nav-item">
                      <a class="nav-link" href="fruit.html">
                        Customer Number : 7702056780</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="service.html">
                        chinnari@gmail.com
                      </a>
                    </li>
                  </div>
                  <div class=" d-none d-lg-flex">
                    <li class="nav-item">
                      
                    </li>
                    <form class="form-inline my-2 ml-5 mb-3 mb-lg-0">
                      <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                    </form>
                  </div>
                </ul>
              </div>
            </div>

            <div class="custom_menu-btn">
              <button onclick="openNav()"></button>
            </div>
            <div id="myNav" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <div class="overlay-content">
                <a href="index.html">HOME</a>
                <%= link_to "Products", gallery_index_path %>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container-fluid">
                  <div class="row">
                    <div class="offset-md-2 col-md-4">
                      <div class="slider_item-detail">
                        <div>
                          <h2 class="slider_heading">
                            50% OFF <br />
                            First order
                          </h2>
                          <p>
                          Lipstick is a cosmetic product used to apply coloration and texture to lips, often made of wax and oil.
                          Different pigments are used to produce color, and minerals such as silica may be used to provide texture. 
                          The use of lipstick dates back to early civilizations such as Sumer and the Indus Valley Civilisation, and was popularized in the Western world in the 16th century.
                          Some lipsticks contain traces of toxic materials, such as lead and PFAS, which prompted health concerns and regulation.
                          </p>
                          
                            
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="hero_img-box">
                        <img src="/assets/hero.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container-fluid">
                  <div class="row">
                    <div class="offset-md-2 col-md-4">
                      <div class="slider_item-detail">
                        <div>
                          <h2 class="slider_heading">
                          50% OFF <br />
                          First order
                          </h2>
                          <p>
                          Lipstick is a cosmetic product used to apply coloration and texture to lips, often made of wax and oil. 
                          Different pigments are used to produce color, and minerals such as silica may be used to provide texture. 
                          The use of lipstick dates back to early civilizations such as Sumer and the Indus Valley Civilisation, and was popularized in the Western world in the 16th century. 
                          Some lipsticks contain traces of toxic materials, such as lead and PFAS, which prompted health concerns and regulation.
                          </p>
                          <div class="d-flex">
                            <a href="" class="slider_btn">
                              Order Now
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="hero_img-box">
                        <img src="/assets/hero.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container-fluid">
                  <div class="row">
                    <div class="offset-md-2 col-md-4">
                      <div class="slider_item-detail">
                        <div>
                          <h2 class="slider_heading">
                            50% OFF <br />
                            First order
                          </h2>
                          <p>
                          Lipstick is a cosmetic product used to apply coloration and texture to lips, often made of wax and oil. 
                          Different pigments are used to produce color, and minerals such as silica may be used to provide texture. 
                          The use of lipstick dates back to early civilizations such as Sumer and the Indus Valley Civilisation, and was popularized in the Western world in the 16th century. 
                          Some lipsticks contain traces of toxic materials, such as lead and PFAS, which prompted health concerns and regulation
                          </p>
                          <div class="d-flex">
                            <a href="" class="slider_btn">
                              Order Now
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="hero_img-box">
                        <img src="/assets/hero.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
         
        </div>
    </section>

    <!-- end slider section -->
  </div>

  <!-- detail section -->
  <section class="detail_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div class="detail_img-box">
            <img src="/assets/detail.png" alt="" class="w-100" />
          </div>
        </div>
        <div class=" col-lg-7">
          <div class="detail_container">
            <div class="detail-box d-box-1">
              <a href="">
                <div class="detail-content">
                  <img src="assets/p5.png" alt="" />
                  <h5>
                    Satin
                  </h5>
                </div>
              </a>
            </div>
            <div class="detail-box d-box-2">
              <a href="">
                <div class="detail-content">
                  <img src="/assets/p3.png" alt="" />
                  <h5>
                    Glossy
                  </h5>
                </div>
              </a>
            </div>
            <div class="detail-box d-box-3">
              <a href="">
                <div class="detail-content">
                  <img src="/assets/p7.png" alt="" />
                  <h5>
                    Matte
                  </h5>
                </div>
              </a>
            </div>
            <div class="detail-box d-box-4">
              <a href="">
                <div class="detail-content">
                  <img src="/assets/p1.png" alt="" />
                  <h5>
                    Creamy
                  </h5>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end detail section -->

  <!-- products section -->
  <section class="products_section">
    <div class="heading_container">
      <h2>
        New Products In Store
      </h2>
    </div>
    <div class="container layout_padding">
      <div class="product_container">
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="/assets/p1.png" alt="" />
              <span>
                Sale
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $690.00
              </span>
              <p>
                Creamy
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="/assets/p2.png" alt="" />
              <span>
                Sale
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $399.00
              </span>
              <p>
                Lip liner
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="/assets/p3.png" alt="" />
              <span>
                Sale
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $450.00
              </span>
              <p>
                Glossy
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="/assets/p4.png" alt="" />
              <span>
                Sale
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $799.00
              </span>
              <p>
                Metallic
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="/assets/p5.png" alt="" />
              <span>
                Sale
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $699.00
              </span>
              <p>
                Satin
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="/assets/p6.png" alt="" />
              <span>
                Sale
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $899.00
              </span>
              <p>
                Tinted lipbalm
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="/assets/p7.png" alt="" />
              <span>
                Sale
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $599.00
              </span>
              <p>
        
                Matte
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="/assets/p8.png" alt="" />
              <span>
                Sale
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $399.00
              </span>
              <p>
                Lip crayons
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="/assets/p9.png" alt="" />
              <span>
                Sale
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $650.00
              </span>
              <p>
                Moisture Matte
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="/assets/p10.png" alt="" />
              <span>
                Sale
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $850.00
              </span>
              <p>
              Powder lipsticks
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="/assets/p11.png" alt="" />
              <span>
                Sale
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $500.00
              </span>
              <p>
               Tints 
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="/assets/p12.png" alt="" />
              <span>
                Sale
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $750.00
              </span>
              <p>
                Velvet matte
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

  <script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
  </script>
</body>

</html>